#ignore build folder
/build

#ignore back ups
*~

#ignore pdf file
workshopForm.pdf
Flyer.pdf

Ad2012.pdf
Ad2012-red.pdf
SetList.pdf

Flyer2012.aux
Flyer2012.log
Flyer2012.out
Flyer2012.pdf

Brochure2012.aux
Brochure2012.log
Brochure2012.out
Brochure2012.pdf
