#ignore build folder
/build

#ignore back ups
*~

#ignore pdf file
workshopForm.pdf
Flyer.pdf
Poster2012.pdf

Ad2012.pdf
Ad2012-red.pdf
SetList.pdf

Flyer201?.aux
Flyer201?.log
Flyer201?.out
Flyer201?.pdf

Brochure201?.aux
Brochure201?.log
Brochure201?.out
Brochure201?.pdf

Registration201?.pdf